.item {
  background: $item-bg;
  border: 1px solid $item-border;
  margin-bottom: $space;
  padding: $space;
}


.item__message {
  color: $item-text-color;

}

.item__status-message {
  color: $item-text-color;

  text-align: center;
  margin: 0;
}

.list-group-item-text
{
    margin: 0 0 11px;
}

.list-group-image {
  margin: 0;
}

.item__grid {
  float: left;
  margin-left: 5.7rem;
  margin-top: 3rem;
}


.item__search {
  text-align:justify;
}

.item__content{
  margin: auto;
  max-width: $site-max-width;
}

.item__no--item {
  margin-top: 3rem;
}
